<section class="home__main__bannermid">

    <div class="home__main__bannermid--izq">
        <img src="/images/baner-medio-izq.jpg" alt="">
    </div>

    <div class="home__main__bannermid--der">
        <img src="/images/baner-medio-der.jpg" alt="">
    </div>

</section>