<footer class="footer-d">

    <section class="footer__section"> 
        <div class="footer__section--left">
            <img src="/images/Level__2_-removebg-preview.png" alt="">
        </div>
        
        <div class="footer-right">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </section>
    
    <section class="footer__section2">
    <ul class="footer__section2--links">
        <li><a href="#">IMPRINT</a></li>
        <span>|</span> 
        <li><a href="#">TERMS OF USE</a></li>
        <span>|</span> 
        <li><a href="#">PRIVACY</a></li>
        <span>|</span> 
        <li><a href="#">POLICY</a></li>
        <span>|</span> 
    </ul>
    </section>
    
    <section class="footer__section3">
        <div class="footer__section3--separacion">
            <hr class="footer__section3--linea">
        </div>
    </section>
    <div class="footer__payments">
    <div class="tarjetas"><img src="/images/tarjetas.png" alt=""></div>
    <div class="mercado"><img src="/images/mercadopago.png" alt=""></div>
    <div class="ahora"><img src="/images/ahora12.png" alt=""></div>
    </div>

    <div class="footer__envio">
        <div class="oca"><img src="/images/oca.png" alt=""></div>
        <div class="andriani"><img src="/images/andreani.png" alt=""></div>
    </div>
    <p class="footer-company-name">
        © 2022 gamigo US Inc., a member of gamigo group. gamigo is a registered trademark of gamigo AG in Germany,
        in the European Union and United Kingdom. gamigo group is a registered trademark of gamigo AG in Germany.
        Glyph is a registered trademark of Blockescence DLT Solutions GmbH in the European Union, UK and the US.
        All other trademarks are properties of their respective owners. All rights reserved.
    </p>
</footer>