<article class="home__main__section__article" id="oferta">
    <img class="home__main--img" src="/images/<%- image %>" alt="oferta 1">

    <div class="home__main--div">
        <img src="/images/p-oferta.png" alt="oferta">
        <div class="home__main--flex">
            <div class="home__main__detalle-h4">
                <h4 class="home__main--precio">$<%-price %></h4>
            </div>
            <div>
                <p class="home__main--descuento"><%-discount  %>% OFF</p>
            </div>
        </div>
        <div class="home__main--ocultar">
            <h5 class="home__main--descripcion"><%- name %></h5>
            <a href="../products/detalle-producto"><button>Ver Detalle</button></a>
        </div>
    </div>

</article>
