<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Game | Carrito</title>
    <script src="https://kit.fontawesome.com/89a4980149.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="menu-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header__div__logo">
                <a href="/"><img class="header__logo" src="/images/next-games-nuevologo-horizontal.png" alt="logo"></a>
            </div>

            <section class="right-nav-bar">
                <form action="" method="" autocomplete="off" class="right-nav-bar--form">
                    <div>
                        <input type="search" name="search" class="right-nav-bar--busq" placeholder="Buscar Producto"
                            title="¿Que desea Buscar?">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
            </section>

            <section class="right-nav-bar2">
                <form action="" method="" autocomplete="off" class="right-nav-bar--form2">
                    <div>
                        <input type="search" name="search" class="right-nav-bar--busq2" placeholder="Buscar Producto"
                            title="¿Que desea Buscar?">
                        <button class="right-nav-bar--button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </section>

            <div>

                <button class="carro">
                    <i class="fa-solid fa-cart-shopping" id="carrito"></i>
                </button>
            </div>
        </div>

        <section class="header__section">
            <article class="header__section__article">
                <div>
                    <ul class="left-nav-bar--1">
                        <li>
                            <a class="home" href="">Home</a>
                        </li>


                        <li>
                            <a class="produ" href="">Productos</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="left-nav-bar--2">
                        <li>
                            <a class="registro" href="#">Registro</a>
                        </li>
                        <li>
                            <a class="login" href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>


    </header>
    <!-- body -->
    <main>
        <section class="header-2">
            <div class="web-segura">
                <div class="venta-telefonica">
                    <h3>Venta Telefónica <i class="fa-duotone fa-phone-volume"></i></h3>
                    <h5>Lun a Vi de 10 a 21hs. y Sáb de 10 a 16hs.</h5>
                </div>
                <div class="sitio-seguro">
                    <h3>Sitio Seguro <i class="fa-solid fa-lock-keyhole"></i></h3>
                </div>
            </div>
        </section>
        <section class="body">
            <div class="logo">
                <img src="/images/Level__2_-removebg-preview.png" alt="logo">
            </div>
        </section>
            <section>
            <div class="mi-carrito">
                <h1><i class="fa-sharp fa-solid fa-cart-shopping"></i>Mi Carrito</h1>
            </div>
        </section>
        <section>
            <div class="descripcion">
                <h4>Producto</h4>
                <h4>Precio</h4>
                <h4>Cantidad</h4>
                <h4>Total</h4>
            </div>
            <div class="detalle-carrito">
                <img src="/images/ps5fifa23.webp" alt="juego">
                <p>PS5 EA SPORT FIFA 23</p>
                <p>$29.999</p>
                <button>
                    <p>- 1 +</p>
                </button>
                <p>$29.999</p>
            </div>
        </section>
        <section>
            <div class="resumen-carrito">
                <h5>Resumen</h5>
                <p>SUBTOTAL</p>
                <p>$29.999</p>
                <p>ENVIO A DOMICILIO</p>
                <p>$1000</p>
                <p>DESCUENTO</p>
                <p>$-4.999</p>
                <p>TOTAL</p>
                <p>$25.000</p>
            </div>
        </section>
        <section>
            <div class="envio-domicilio">
                <button>
                    <h2>Envio a Domicilio</h2>
                    <i class="fa-regular fa-truck-fast"></i>
                </button>
            </div>
            <div class="retiro-tienda">
                <button>
                    <h2>Retiro en Tienda</h2>
                    <i class="fa-solid fa-shop"></i>
                    <i class="fa-solid fa-store"></i>
                </button>
            </div>
            <div class="medio-pago">
                <button>
                    <h2>Medios de Pago</h2>
                    <i class="fa-regular fa-credit-card"></i>
                </button>
            </div>
        </section>
        <section>
            <div class="agregar-productos">
                <button>
                    <h2>AGREGAR MAS PRODUCTOS</h2>
                </button>
            </div>
            <div class="finalizar-compra">
                <button>
                    <h2>FINALIZAR COMPRA</h2>
                </button>
            </div>
        </section>
    </main>
   <!--  <footer class="footer-d">
        <div class="footer-left">
            <img src="/images/Level__2_-removebg-preview.png" alt="">
            <div class="footer-right">
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
            <p class="footer-links">
                <a href="#">IMPRINT</a>
                   |
                <a href="#">TERMS OF USE</a>
                |
               <a href="#">PRIVACY</a>
            |
                <a href="#">POLICY</a>
            |
            </p>
            <hr>
            <p class="footer-company-name">
                © 2022 gamigo US Inc., a member of gamigo group. gamigo is a registered trademark of gamigo AG in Germany, in the European Union and United Kingdom. gamigo group is a registered trademark of gamigo AG in Germany. Glyph is a registered trademark of Blockescence DLT Solutions GmbH in the European Union, UK and the US.
                 All other trademarks are properties of their respective owners. All rights reserved.
            </p>
    </footer> -->

</body>

</html>