<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/23870b4d48.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/detalle-producto.css">
</head>
<body>
    <div class="container-1">
        <div class="back-home" style="color: #BC79F0;">
            <i class="fa-solid fa-arrow-left"></i>

        </div>
        <div class="imagen">
            <img src="/images/Elite-series-2.png" alt="">
        </div>
        <h2>Xbox wireless controller</h2>
        <div class="rank">
            <p>s t a r s (103)</p>
            <button class="book-mark">
                <i class="fa-regular fa-bookmark"></i>
            </button>
        </div>
     
        <section>
            <div class="card1"></div>
            <div class="card2"></div>
            <div class="card3"></div>
        </section>
        <div class="descripcion">
            <p>Diseñado para satisfacer las necesidades de los competitivos jugadores de la actualidad, el Mando inalámbrico Xbox Elite Series 2 ofrece más de 30 nuevas formas para jugar como un profesional. Mejora tu puntería con las nuevas ...
            </p>

            <button class="read">Read more</button>
        </div>
        
       <div class="container-details">
        <div class="odc-header">
            <div class="cta-text">
                <h3 class="precio">$5.500</h3>
            </div>
            <div class="crd-button-container">
                <button class="crd-button">
                    <p>add to card</p>
                </button>
            </div>
        </div>
       </div>

    </div>
    <script>

    </script>
    <section>
    <div class="container flex">
        <div class="left">
            <div class="main-image">
                <img src="" alt="">
            </div>
        </div>

        <div class="right">
            <h3>JoyStick PS5 with RAZER quick charging stand</h3>
            <h2>POWER YOUR PLAY <p>$10.500</p></h2>

            <div class="rank">
                <h5>PERISFERICOS | </h5>
                <div class="stars">
                    <p>star</p>
                    <p>star</p>
                    <p>star</p>
                  </div>
                  <h5>4.5 (5.000 reviews)</h5>
            </div>

            <div class="descripcion">
             <h3>Descripción</h3>

             <li>CARGA RAPIDA:</li>
             <p>capaz de cargar tu control en menos de 3 horas
                el stand también esta diseñado con protección
                de sobre carga para prevenir sobre carga y cortos
                circuitos.</p>

                <li>CARGA CON USB</li>
                <p>carga facil con cable usb compatible tanto con PS5 como pc</p>
            </div>
            <div class="metodos">
                <div class="pago">
                    <h3>metodos de pago:</h3>
                </div>
                <div class="envio">

                </div>
            </div>
            <div class="colores">
                <h3>colores:</h3>
                <div class="option-1">

                </div>
                <div class="option-2">

                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>