<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/23870b4d48.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
 <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="menu-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header__div__logo">
                <a href="/"><img class="header__logo" src="/images/next-games-nuevologo-horizontal.png" alt="logo"></a>
            </div>

            <section class="right-nav-bar">
                <form action="" method="" autocomplete="off" class="right-nav-bar--form">
                    <div>
                        <input type="text" name="search" class="right-nav-bar--busq" placeholder="Buscar Producto"
                            title="¿Que desea Buscar?">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
            </section>

            <section class="right-nav-bar2">
                <form action="" method="" autocomplete="off" class="right-nav-bar--form2">
                    <div>
                        <input type="text" name="search" class="right-nav-bar--busq2" placeholder="Buscar Producto"
                            title="¿Que desea Buscar?">
                        <button class="right-nav-bar--button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </section>

            <div>

                <button class="carro">
                    <i class="fa-solid fa-cart-shopping" id="carrito"></i>
                </button>
            </div>
        </div>

        <section class="header__section">
            <article class="header__section__article">
                <div>
                    <ul class="left-nav-bar--1">
                        <li>
                            <a class="home" href="/">Home</a>
                        </li>


                        <li>
                            <a class="produ" href="">Productos<i class="fa-solid fa-chevron-down"></i></a>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="left-nav-bar--2">
                        <li>
                            <a class="registro" href="#">Registro</a>
                        </li>
                        <li>
                            <a class="login" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>


    </header>
<main>

    <section class="detalle-imagenes">
        <div class="detalle-img--conteiner">
<!-- Slider main container -->
<div class="swiper swiper-imagenes">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img class="detalle-imagen1" src="/images/detalle-producto/joy-blanco.png" alt=""></div>
      <div class="swiper-slide"><img class="detalle-imagen2" src="/images/detalle-producto/cargador-2.png" alt=""></div>
      <div class="swiper-slide"> <img class="detalle-imagen3" src="/images/detalle-producto/cargador-1.png" alt=""></div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
</section>
 
    <section class="descripcion-detalle">
        <div class="descripciones">
            <div class="titulos">
                <h2 class="titulo-1">JoyStick PS5 with RAZER quick charging stand</h2>
            </div>
            <div class="rank">
                <p >PERISFERICOS  |</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    
                
                </div>
                <p>(103)</p>
            </div>
            <div class="description-22">
                <div class="category-product">
                    
                    <div class="sub">
                        <h3>CARGA RAPIDA : 
                        </h3>
                        <h4>capaz de cargar tu control en menos de 3 horas

                            el stand también esta diseñado con protección
                            </h4>

                            <h3>CARGA CON USB : 
                            </h3>
                            <h4>
                                carga facil con cable usb compatible tanto 

con PS5 como pc
                            </h4>

                      
                       
                    </div>
                </div>

            </div>
            <div class="tarjetas-detalle">
                <div class="metodos" style="color:white;">
                    <h3>metodos de pago:</h3>
                </div>
               <img src="/images/tarjetas.png" alt="">
            </div>
            <div class="envios">
                <h3>metodos de envío</h3>
            </div>
            <div class="description">
                <h5>Diseñado para satisfacer las  ...</h5>
                <button class="read-btn">read more</button>


            </div>
            <h3 class="colores">colores:</h3>
            <div class="otros-colores" >
                
                <div class="color1">
                    <div class="imagen-right">
                        <img src="/images/detalle-producto/joy-violeta.png" alt="">
                    </div>
                </div>
                <div class="color2">
                    <div class="imagen-left">
                    <img src="/images/detalle-producto/razer-quick-charging-stand-for-ps5-black-1500x1000.png" alt="">
                </div>

                </div>

            </div>
        </div>
    </section>
    

</section>
</main>
<div class="add-carrito">
    <div class="sub-header">
        <h2>$5.500</h2>
        <div class="cantidad-producto">
            <h5 style="color: white;
            ">cantidad:</h5>
            <button>+</button>
            <input type="number">
            <button>-</button>
        </div>
        <button class="card-btn">
            add to card</button>
    </div>

</div>

    <footer class="footer-d">

        <section class="footer__section"> 
            <div class="footer__section--left">
                <img src="/images/Level__2_-removebg-preview.png" alt="">
            </div>
            
            <div class="footer-right">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </section>
        
        <section class="footer__section2">
        <ul class="footer__section2--links">
            <li><a href="#">IMPRINT</a></li>
            <span>|</span> 
            <li><a href="#">TERMS OF USE</a></li>
            <span>|</span> 
            <li><a href="#">PRIVACY</a></li>
            <span>|</span> 
            <li><a href="#">POLICY</a></li>
            <span>|</span> 
        </ul>
        </section>
        
        <section class="footer__section3">
            <div class="footer__section3--separacion">
                <hr class="footer__section3--linea">
            </div>
        </section>
        <div class="footer__payments">
        <div class="tarjetas"><img src="/images/tarjetas.png" alt=""></div>
        <div class="mercado"><img src="/images/mercadopago.png" alt=""></div>
        <div class="ahora"><img src="/images/ahora12.png" alt=""></div>
        </div>

        <div class="footer__envio">
            <div class="oca"><img src="/images/oca.png" alt=""></div>
            <div class="andriani"><img src="/images/andreani.png" alt=""></div>
        </div>
        <p class="footer-company-name">
            © 2022 gamigo US Inc., a member of gamigo group. gamigo is a registered trademark of gamigo AG in Germany,
            in the European Union and United Kingdom. gamigo group is a registered trademark of gamigo AG in Germany.
            Glyph is a registered trademark of Blockescence DLT Solutions GmbH in the European Union, UK and the US.
            All other trademarks are properties of their respective owners. All rights reserved.
        </p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
   
   <script> 

const swiper = new Swiper('.swiper-imagenes', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
    </script>
  
</body>
</html>