<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/2d353964a9.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <li class="menu-hamburguesa"><i class="fa-solid fa-bars"></i>
            </li>
            <img class="logo" src="/images/next-games-logo.png" alt="logo">
            <nav>
                <ul class="left-nav-bar">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Productos</a>
                    </li>
                    <li><a href="#">Registrate</a></li>
                    <li><a href="#">login</a></li>
                </ul>
               
                
                <ul class="right-nav-bar">
                <input type="search" name="search" class="search-bar" placeholder="Buscar producto">
                <button class= "lupita" type="submit">
                    <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
                </button>
                <button class="carro">
                <i class="fa-solid fa-cart-shopping" id="carrito"></i>
                </button>
                </ul>
            </nav>
        </div>

    </header>

    <footer class="footer-d">
        <div class="footer-left">
            <img src="/images/next-games-logo.png" alt="">
            <div class="footer-right">
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Home</a>
                |
                <a href="#">Home</a>
                |
                <a href="#">Home</a>
                |
            </p>
            <hr>
            <p class="footer-company-name">
                © 2022 gamigo US Inc., a member of gamigo group. gamigo is a registered trademark of gamigo AG in Germany, in the European Union and United Kingdom. gamigo group is a registered trademark of gamigo AG in Germany. Glyph is a registered trademark of Blockescence DLT Solutions GmbH in the European Union, UK and the US.
                 All other trademarks are properties of their respective owners. All rights reserved.
            </p>

           
        </div>
    </footer>

   
</body>

</html>