<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/2d353964a9.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <li class="menu-hamburguesa"><i class="fa-solid fa-bars"></i>
            </li>
            <img class="logo" src="/images/next-games-logo.png" alt="logo">
            
                <ul class="left-nav-bar--1">
                    <li>
                        <a class="home" href="">Home</a>
                    </li>
                
                    
                     <li>
                        <a class="produ" href="">Productos</a>
                    </li>
                </ul>
                    <ul class="left-nav-bar--2">
                    <li><a class="registro" href="#">Registro</a></li>
                    <li><a class="login" href="#">Login</a></li>
                </ul>
               
                
                <div class="right-nav-bar">
                <input type="search" name="search" class="search-bar" placeholder="Buscar Producto">
                <button class= "lupita" type="submit">
                    <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
                </button>
                <button class="carro">
                <i class="fa-solid fa-cart-shopping" id="carrito"></i>
                </button>
                </div>
            
        </div>

    </header>
</body>

</html>