<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" sizes="any" href="/images/next-games-nuevologo.png">
    <script src="https://kit.fontawesome.com/2d353964a9.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <header>
        <div class="header__inicio">
            <div class="menu-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header__div__logo">
                <a href="/"><img class="header__logo" src="/images/next-games-nuevologo-horizontal.png"
                        alt="logo"></a>
            </div>

            <section class="right-nav-bar">
                <form action="" method="" autocomplete="off" class="right-nav-bar--form">
                    <div>
                        <input type="search" name="search" class="right-nav-bar--busq" id="search"
                            placeholder="Buscar Producto" title="¿Que desea Buscar?">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
            </section>

            <section class="right-nav-bar2">
                <form action="" method="" autocomplete="off" class="right-nav-bar--form2">
                    <div>
                        <input type="search" name="search" class="right-nav-bar--busq2" id="search"
                            placeholder="Buscar Producto" title="¿Que desea Buscar?">
                        <button class="right-nav-bar--button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </section>

            <div>

                <button class="carro">
                    <i class="fa-solid fa-cart-shopping" id="carrito"></i>
                </button>
            </div>
        </div>

        <section class="header__section">
            <article class="header__section__article">
                <div>
                    <ul class="left-nav-bar--1">
                        <li>
                            <a class="home" href="/">Home</a>
                        </li>


                        <li>
                            <a class="produ" href="">Productos<i class="fa-solid fa-chevron-down"></i></a>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="left-nav-bar--2">
                        <li>
                            <a class="registro" href="/register">Registro</a>
                        </li>
                        <li>
                            <a class="login" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>


    </header>

    <main class="login__main">

        <section class="login__main__costados">
            <div class="login__main__costados--left">
                <img src="/images/Fondo_1.png" alt="Imagen no encontrada" class="login__main_left--img">
            </div>
    
            <div class="login__main__costados--right">
                <img src="/images/Fondo_2.png" alt="Imagen no encontrada" class="login__main_right--img">
            </div>
        </section>

        <section class="login__main__section">
            <div class="login__main__section--titulo">
                <h1 class="login__main__section--h1">Iniciar Sesion</h1>
            </div>
        </section>

        <section class="login__main__section2">
            <form autocomplete="off" action="/" method="get" class="login__main__section2--form">
                <div class="login__main__form-control">
                    <label for="username">Usuario o correo electrónico</label>
                    <input type="text" id="username" placeholder="Usuario o correo electrónico" required>
                </div>
                <div class="login__main__form-control">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" placeholder="Contraseña" name="password" minlength="8" maxlength="40" required>
                    <div class="login__main__form-control--button">
                        <button class="form__button" type="button" onclick="mostrarContrasena()"><i class="fa-solid fa-eye"></i></button>
                    </div>
                </div>
                
                <div>
                    <input class="login__enviar" type="submit" value="Ingresar">
                </div>
            </form>
        </section>
       
        <section class="login__main__section3">
            <div class="login__main__section3--inicio">
                <div>
                    <hr class="login__main_div--hrleft">  
                </div>     
                
                <div>           
                    <span class="login__main__section3--span">O INICIA 
                        SESIÓN CON</span>  
                </div>  
            
                <div>
                    <hr class="login__main-div--hrrigth">
                </div>
            </div>        
        </section>

        <section class="login__main__section4">
        <div class="login__main__section4_div">
            <button class="login__main__section4_div--button">
                <div class="login__main__section4_div2--span">
                    <a href="/"><img class="login__main-div2--img" src="/images/Logo-logeo.png" alt="Google" class="login__main__section4_div2--img">
                   <span>Login con Google</span></a>
                </div>
            </button>
        </div>
        </section>


        <section class="login__main__section5">
        <div class="login__main__section5_div">
            <p class="login__main__section5_div--p">
                <a class="login__main__section5_div--link" href="#"> ¿No podes iniciar sesión?<i class="fa-solid fa-up-right-from-square"></i>
            </p>
        </div>

        <div class="login__main__section5_div2">
            <p class="login__main__section5_div2--p">
                ¿No tienes cuenta? <span class="login__main_div2--span"><a class="login__main__section5_div--link2" href="#">Create una</a></span>
            </p>
        </div>
        </section>
        
    </main>

    <footer class="footer-d">

        <section class="footer__section"> 
            <div class="footer__section--left">
                <img src="/images/Level__2_-removebg-preview.png" alt="">
            </div>
            
            <div class="footer-right">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </section>
        
        <section class="footer__section2">
        <ul class="footer__section2--links">
            <li><a href="#">IMPRINT</a></li>
            <span>|</span> 
            <li><a href="#">TERMS OF USE</a></li>
            <span>|</span> 
            <li><a href="#">PRIVACY</a></li>
            <span>|</span> 
            <li><a href="#">POLICY</a></li>
            <span>|</span> 
        </ul>
        </section>
        
        <section class="footer__section3">
            <div class="footer__section3--separacion">
                <hr class="footer__section3--linea">
            </div>
        </section>
        <div class="footer__payments">
        <div class="tarjetas"><img src="/images/tarjetas.png" alt=""></div>
        <div class="mercado"><img src="/images/mercadopago.png" alt=""></div>
        <div class="ahora"><img src="/images/ahora12.png" alt=""></div>
        </div>

        <div class="footer__envio">
            <div class="oca"><img src="/images/oca.png" alt=""></div>
            <div class="andriani"><img src="/images/andreani.png" alt=""></div>
        </div>
        <p class="footer-company-name">
            © 2022 gamigo US Inc., a member of gamigo group. gamigo is a registered trademark of gamigo AG in Germany,
            in the European Union and United Kingdom. gamigo group is a registered trademark of gamigo AG in Germany.
            Glyph is a registered trademark of Blockescence DLT Solutions GmbH in the European Union, UK and the US.
            All other trademarks are properties of their respective owners. All rights reserved.
        </p>
    </footer>


</body>
<script src="/javascript/login.js"></script>
</html>