<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="any" href="/images/next-games-nuevologo.png">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/2d353964a9.js" crossorigin="anonymous"></script>
    
  <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>


<body>
    <%- include('partials/header') %> 
    
            
    
       
    
    
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Todos los productos</h2>
        </div>
    
			<% products.forEach(({id,image,price,discount,name}) => { %>
				<%- include('./partials/product',{
					id,
					image,
					price,
					discount,
					name
				}) %>
			<% }) %>
        </div>
    </div>
    
	
    <%- include('partials/footer') %>
</body>
</html>