<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="split-screen">
    
   <div class="split left">
      <section class="titles">
        <h1>Start your gaming journey with us</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </h2>

      </section>
    </div>
  
    <div class="split right">
      <form >
        <section>
          <h2>Sign Up</h2>
          <p>Ya tenes una cuenta? ingresa <a href="/">aca</a></p>
          <div class="login">
            <button>
              <img src="/images/google-icon.png" alt="logo-google" class="log">
              Sign up with Google
            </button>
        </section>
        <div class="divider">
          <span class="orSpan">or</span>
            <hr>
        
         </div>
        <div class="forms">
          <div class="name">
          
              <input type="text" required>
              <label for="">Nombre completo</label>
           
            
              <input type="email" required>
              <label for="">E-mail</label>

              <input type="password" required>
              <label for="">Contraseña</label>
            
          
          </div>
         
        </div>
      </form>
    </div>
  </div>
</body>
</html>