<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrate</title>

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header></header>
<section class="overlay">
  <div class="titles">
    <h1>Start your gaming journey with us</h1>
    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, laboriosam ullam eum pariatur cons</h2>
  </div>
<div class="next-page">
  <p>next --></p>
</div>
</section>
<div class="sign-up">
  <div class="titles">
    <h1>CREA TU CUENTA</h1>
    <h3>Ya tenes cuenta? ingresa <a href="#">ACA</a></h3>
  </div>
  <div class="login">
    <button>
      <img src="/images/google-icon.png" alt="logo-google" class="log">
      Sign up with Google
    </button>
    </div>
 <div class="divider">
  <span class="orSpan">or</span>
    <hr>

 </div>

 <div class="container">
  <form action="">
    <input type="text" id="" class="form_input">
    <label for="text" class="form_label">Nombre completo</label>
  </form>
 </div>
</div>
 </section>
 




  <footer></footer>
</body>
</html>