<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/23870b4d48.js" crossorigin="anonymous"></script>
  
</head>
<body>
  
    <header>
        <div class="header__inicio">
            <div class="menu-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header__div__logo">
                <a href="/"><img class="header__logo" src="/images/next-games-nuevologo-horizontal.png"
                        alt="logo"></a>
            </div>

            <section class="right-nav-bar">
                <form action="" method="" autocomplete="off" class="right-nav-bar--form">
                    <div>
                        <input type="search" name="search" class="right-nav-bar--busq" id="search"
                            placeholder="Buscar Producto" title="¿Que desea Buscar?">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </form>
            </section>

            <section class="right-nav-bar2">
                <form action="" method="" autocomplete="off" class="right-nav-bar--form2">
                    <div>
                        <input type="search" name="search" class="right-nav-bar--busq2" id="search"
                            placeholder="Buscar Producto" title="¿Que desea Buscar?">
                        <button class="right-nav-bar--button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </section>

            <div>

                <button class="carro">
                    <i class="fa-solid fa-cart-shopping" id="carrito"></i>
                </button>
            </div>
        </div>

        <section class="header__section">
            <article class="header__section__article">
                <div>
                    <ul class="left-nav-bar--1">
                        <li>
                            <a class="home" href="/">Home</a>
                        </li>


                        <li>
                            <a class="produ" href="">Productos<i class="fa-solid fa-chevron-down"></i></a>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="left-nav-bar--2">
                        <li>
                            <a class="registro" href="/register">Registro</a>
                        </li>
                        <li>
                            <a class="login" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>


    </header>



<main>
  <div class="split-screen">
    
   <div class="left-register">
      <div class="titles">
        <h1>Start your gaming journey with us</h1>
        <h2 class="titulo-register1">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h2>

      </div>
    </div>
    
  
    <div class=" right-register">
      <form >
        <section class="titles-register">
            <div class="titles-left">
          <h2 class="titulo-register1">CREA TU CUENTA</h2>
          <h3 class="titulo-register2">Ya tenes una cuenta? ingresa <a class="aca" href="/">aca</a></h3>
        </div>
          <div class="login-register">
            <button class="google">
              <img src="/images/google-icon.png" alt="logo-google" class="log">
              Sign up with Google
            </button>
            
        </section>
        <div class="divider">
            <span class="orSpan">
              or</span>
              <hr class="hr-register">
          
           </div>
        
         <div class="card">
        <div class="forms">
          <div class="name">
          
              <input type="text" required>
              <label for="" class="f-name">Nombre completo</label>

              <input type="text" required>
              <label for="" class="us-name">Usuario</label>

           
            
              <input type="email" required>
              <label for="" class="e-mail">E-mail</label>

              <input type="password" required>
              <label for="">Contraseña</label>
            
              <input type="number" required>
              <label for="">Documento</label>

              <input type="text " required style="color: white;">
              <label for="" class="direccion">Dirección</label>
          
          </div>
          <button type="submit" class="guardar">registrar</button>
         
        </div>
      </div>
      </form>
    </div>
    
  </div>

</main>
<footer class="footer-d">

    <section class="footer__section"> 
        <div class="footer__section--left">
            <img src="/images/Level__2_-removebg-preview.png" alt="">
        </div>
        
        <div class="footer-right">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
    </section>
    
    <section class="footer__section2">
    <ul class="footer__section2--links">
        <li><a href="#">IMPRINT</a></li>
        <span>|</span> 
        <li><a href="#">TERMS OF USE</a></li>
        <span>|</span> 
        <li><a href="#">PRIVACY</a></li>
        <span>|</span> 
        <li><a href="#">POLICY</a></li>
        <span>|</span> 
    </ul>
    </section>
    
    <section class="footer__section3">
        <div class="footer__section3--separacion">
            <hr class="footer__section3--linea">
        </div>
    </section>
    <div class="footer__payments">
    <div class="tarjetas"><img src="/images/tarjetas.png" alt=""></div>
    <div class="mercado"><img src="/images/mercadopago.png" alt=""></div>
    <div class="ahora"><img src="/images/ahora12.png" alt=""></div>
    </div>

    <div class="footer__envio">
        <div class="oca"><img src="/images/oca.png" alt=""></div>
        <div class="andriani"><img src="/images/andreani.png" alt=""></div>
    </div>
    <p class="footer-company-name">
        © 2022 gamigo US Inc., a member of gamigo group. gamigo is a registered trademark of gamigo AG in Germany,
        in the European Union and United Kingdom. gamigo group is a registered trademark of gamigo AG in Germany.
        Glyph is a registered trademark of Blockescence DLT Solutions GmbH in the European Union, UK and the US.
        All other trademarks are properties of their respective owners. All rights reserved.
    </p>
</footer>

</body>
</html>