.my-5 {
       
    background-color: #4439AA;
}


#body-carrito{
    width: 330px;
   
}
#name-carrito{
    color: white;
}
#precio-carrito{
    color: white;
    font-family: 'Inter',sans-serif;
}
 #cantidad-carrito{
    position: relative;
    top: 10px;
    height: 35px;
    border-radius: 20px;
 }
 #ver-mas-carrito{
    color: white;
    background-color: #7110bd;
 }
 #check-out{
    position: absolute;
    right: 185px;
    width: 300px;
 }
 #total-carrito{
    color: white;
    font-family: 'Inter',sans-serif;
 }
 #remove-product-icon-carrito
 {
    top: -158px;
    right: -94px;
}
#image-carrito{
    position: relative;
    left: 20px;
}


/* Tablet */
@media(min-width: 485px) {
    .my-5 {
 background-color: #4439AA;
    }
    
    #body-carrito{
        width: 277px;
    }
    #name-carrito{
        color: white;
    position: relative;
    left: -16px;
    font-size: 11px;
        
    }
    #precio-carrito{
        color: white;
        font-family: 'Inter',sans-serif;
        font-size: 15px;
    }
    #less-cantidad{
        width: 15px;
        height: 38px;
        position: relative;
        left: -22px;
    }
    #more-cantidad{
        width: 15px;
        height: 38px;
        margin-right: 22px;
        position: relative;
        left: 24px;
    }
     #cantidad-carrito{
        position: absolute;
    top: 63px;
    left: 27px;
    height: 31px;
    width: 48px !important;
     }
     #ver-mas-carrito{
      color: white;
    background-color: #7110bd;
    width: 42px;
    border: none;
    font-size: 8px;
    height: 31px;
    
}
#total-carrito{
    position: relative;
    right: 10px;
    color: white;
    font-family: 'Inter',sans-serif;
    font-size: 20px !important;
 }

 #check-out{
    position: absolute;
    right: -61px;
    width: 159px;
 }

 #remove-product-icon-carrito
 {
    top: -163px;
    right: -80px;
}
 }
 
     
    
    
    




/* Desktop */
@media(min-width: 769px) {
    .my-5 {
        
        background-color: #4439AA;
    }
    #remove-product-icon-carrito
    {
        top:-8px;
        right:8px;
    }
    
    #body-carrito{
        position: relative;
        left: -114px;
        width: 484px;
    }
    #name-carrito{
        color: white;
    }
    #precio-carrito{
        color: white;
        font-family: 'Inter',sans-serif;
    }
     #cantidad-carrito{
        position: relative;
        width: 72px !important;
        left: 2px;
        top: 10px;
        height: 35px;
        border-radius: 20px;
     }
     #ver-mas-carrito{
        color: white;
    font-size: 15px;
    width: 87px;
    height: 35px;
    background-color: #7110bd;
}
       

#check-out{
    width: 250px;
    position: absolute;
    right: 151px;
 }
 #total-carrito{
    color: white;
    font-family: 'Inter',sans-serif;
 }
 #less-cantidad{
     height: 38px;
    width: 42px;
    position: relative;
    left: -7px;
}
#more-cantidad{
    width: 42px;
    height: 38px;
    margin-right: 22px;
    position: relative;
    left: 7px;
}

     }
    
    
    
