.titulo-crear{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.crear-form{
    border: 1px solid white;
    display: block;
    margin: 30px auto;
    padding: 30px 0;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--fondo1VioletaO);
}
.crear__nameprodu, .crear-formulario-2{
    margin-bottom: 20px;
}
.crear-form .crear__nameprodu input{
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 70%;
    padding: 8px 13px;
    position: relative;
    margin: 0 auto;
    top: -18px;
    transition: all 0.3s;
    background-color: #7110bd;
    font-size: 13px;
}
.crear-form .crear__nameprodu input::placeholder{
    color: white;
    font-size: 12px;
    font-family: var(--FontSubtitulo);
}
.crear-form .crear__nameprodu input:focus{
    outline: none;
}
.crear-form .crear__nameprodu input:focus::placeholder{
    transition: all 1;
    color: #7110bd;
}
.crear__nameprodu label+input:focus{
    top: 0;
}
.crear__nameprodu label{
    color: white;
    font-family: var(--FontSubtitulo);
    font-size: 15px;
}
#nameprodu, #precio, #discount{
    color: white;
}
.crear__boxprecio{
    display: flex;
    justify-content: center;
}
.crear__subtitulo{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}
.crear-formulario-2__descripcion{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.crear-formulario-2__descripcion textarea{
    padding-left: 15px;
    padding-top: 10px;
    width: 50%;
    height: 100px;
    background-color: #7110bd;
    border-color: white;
    color: white;
    outline: none;
    border-radius: 10px;
}
.submit-btn--crear{
    border: 1px solid white;
    background-color: #7110bd;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.submit-btn--crear label i{
    font-size: 40px;
    margin-top: 15px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
.submit-btn--crear label i:hover{
    color:var(--fondo1VioletaO);
}
.submit-btn--crea__nombrearchi{
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.submit-btn--crear span{
    color: white;
    font-size: 14px;
}
.submit-btn--crear span:hover{
    color:var(--fondo1VioletaO);
}
.submit-btn--crear__buscar{
    display: none;
}
.submit-btn--crear2{
    border: 1px solid white;
    background-color: #7110bd;
    width: 50%;
    margin: 0 auto;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.submit-btn--crear2 label i{
    font-size: 40px;
    margin-top: 15px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
.submit-btn--crear2 label i:hover{
    color:var(--fondo1VioletaO);
}
.submit-btn--crea__nombrearchi2{
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.submit-btn--crear2 span{
    color: white;
    font-size: 14px;
}
.submit-btn--crear2 span:hover{
    color:var(--fondo1VioletaO);
}
.submit-btn--crear__buscar2{
    display: none;
}
.submit-btn--crear3 span{
    color: white;
    font-size: 14px;
}
.submit-btn--crear3 span:hover{
    color:var(--fondo1VioletaO);
}
.submit-btn--crear__buscar3{
    display: none;
}
.form-control{
    height: 25px;
    border-radius: 20px;
    background-color: #7110bd;
    width: 50%;
    color: white;
    border: 1px solid white;
    margin-bottom: 30px;
    padding-left: 15px;
}
.crear-form .crear-formulario-2__precio input{
    margin: 0 auto;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 70%;
    padding: 8px 13px;
    position: relative;
    top: -18px;
    transition: all 0.3s;
    background-color: #7110bd;
    font-size: 13px;
}
.crear-form .crear-formulario-2__precio input::placeholder{
    color: white;
    font-size: 12px;
    font-family: var(--FontSubtitulo);
}
.crear-form .crear-formulario-2__precio input:focus{
    outline: none;
}
.crear-form .crear-formulario-2__precio input:focus::placeholder{
    transition: all 1;
    color: #7110bd;
}
.crear-formulario-2__precio label+input:focus{
    top: 0;
}
.crear-formulario-2__precio label{
    color: white;
}
.crear-btn--submit, .crear-btn--reset{
    color: white;
    border: none;
    background-color: var(--fondo2VioletaC);
    border-radius: 10px;
    width: 30%;
    height: 30px;
    transition: all 1.5s;
    display: inline-block;
}
.crear-btn--cancelar{
    color: white;
    border: none;
    background-color: var(--fondo2VioletaC);
    border-radius: 10px;
    width: 30%;
    height: 30px;
    transition: all 1.5s;
    display: inline-block;
    position: relative;
    bottom: 6px;
    cursor: pointer;
}
.crear-btn--cancelar--letra{
    position: relative;
    top: 6px;
}
.crear-btn--submit:hover , .crear-btn--reset:hover , .crear-btn--cancelar:hover{
    background-color: var(--letrasSubtitulos2);
}

