
main{
    background-color: var(--fondo1VioletaO);
}
.slider-wrapper img{
    width: 400px;
  position: relative;
  left: 92px;
  
}
.titulo-1{
    color: var(--letrasTitulos);
    font-family: var(--FontTitulo);
    font-size: 27px;
}
.stars i{
    color: yellow;
}
.rank{
    display: flex;
}
.descriction h5{
    color: #fff;;
    font-family: var(--FontSubtitulo);

}
.read-btn{
    position: relative;
    top: 5px;
    background: none;
    color: violet;
    border: none;
}
.sub-header{
    position: relative;
    top: 10px;
    left: 5px;
    height: 107px;
    width: 574px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background: rgba(68, 57, 170, 0.74);;
}

















/*.imagenes{
    background-color: var(--fondo1VioletaO);
    position: relative;
    width: 45%;
    height: 60%;
    top:  18%;
    left: 5%;
}*/