.swiper {
    width: 100%;
    height: 300px;
  }
.detalle-imagenes{
    width: 100%;
    text-align: center;
}
.envios h4{
    color: #fff;
    font-family: var(--FontSubtitulo);
    margin: 5px;
    font-size: 13px;
}

h3{
    color: #fff;
    font-family: var(--FontSubtitulo);
}

.description-22, .cantidad-producto,.otros-colores ,.colores, .color1,.color2{
    display: none;
}
.tarjetas-detalle img{
    width: 134px;
    position: relative;
    
    top: 14px;
    margin-bottom: 35px;
    left: 12px;

}
.titulo-1{
    color: var(--letrasTitulos);
    font-family: var(--FontTitulo);
    font-size: 22px;
    position: relative;
    bottom: 25px;
}
.stars i{
    color: yellow;
}
.rank{
    display: flex;
    position: relative;
    bottom: 15px;
}
.rank p{
    font-size: 14px;
    margin: 2px;
    color: #fff;
}
.description h5{
    color: #fff;;
    font-family: var(--FontSubtitulo);

}
.read-btn{
    position: relative;
    top: 5px;
    background: none;
    color: violet;
    border: none;
}
.sub-header{
    position: relative;
    top: 5px;
    left: -9px;
    height: 78px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background: rgba(68, 57, 170, 0.74);
}
.sub-header h2{
    font-family: var(--FontSubtitulo);
    color: var(--letrasTitulos);
position: relative;
top: 39px;
left: 46px;
}
.descripciones{
    position: relative;
    left: 12px;
    top: 13px;
    height: 262px;
}

.card-btn{
    background-color: var(--fondo1VioletaO);
    color: #fff;
    border: none;
    border-radius: 10px;
position: relative;
float: right;
top: 9px;
right: 43px;

}

 @media (min-width: 769px){
    main{
        background-color: var(--fondo2VioletaC);
        display: flex;
    }
    .titulo-1{
        position: relative;
    bottom: -25px;
    }
    .rank{
        position: relative;
        bottom: -33px;
    }
    .detalle-imagenes{
        width: 50%;
        margin-left: 25px;
    }
    .metodos{
        position: relative;
        top: 5px;
    }
    .description{
        display: none;
    }
    .description-22,.otros-colores,.colores{
       display: flex;
    }
    .colores{
        position: relative;
        top: 55px;
        /* left: -7px; */
        right: 426px;
    }
   

.descripcion-detalle{
    
    position: relative;
    padding-right: 15px;
    margin-right: 120px;
}
.detalle-img--conteiner{
    background-color: var(--fondo1VioletaO);
    height: 50vh;
    border-radius: 28px;
    position: relative;
    top: 68px;
}
    
.sub {
    color: var(--letrasTitulos);
    font-family: var(--FontSubtitulo);
    font-size: 14px;
    text-align: left;
    }
    .imagen-right img{
        width: 209px;
      position: relative;
      top: -6px;
      left: -37px;
      height: 159px;
    }
    .imagen-left img{
        width: 122px;
        position: relative;
      top: 16px;
      right: -8px;

    }
    .otros-colores{
        position: relative;
        right: 388px;
        top: 75px;
        height: 463px;
        
        justify-content: space-between;
    }
    .color1{
        display: flex;
        background-color: var(--fondo1VioletaO);
        height: 139px;
        width: 136px;
        border-radius: 18px;

    }
    .color2{
        display: flex;
        background-color: var(--fondo1VioletaO);
        height: 139px;
        width: 136px;
        position: relative;
        right: -29px;
        border-radius: 18px;
        margin-left: -6px;
    }
    h3{
        color: #fff;
        font-family: var(--FontSubtitulo);
    }
    

.sub-header {
    position: relative;
    top: -136px;
    border: 1px;
    left: 23px;
    height: 79px;
    width: 707px;
    border-radius: 14px;
    background: #1A027A;
}
.sub-header h2 {
    font-family: var(--FontSubtitulo);
    color: var(--letrasTitulos);
    position: relative;
    top: 26px;
    left: 46px;
}
.sub h3{
    position: relative;
    top: 12px;
}
.sub h4{
    position: relative;
    font-size: 12px;
    top: 12px;
    margin-top: 11px;
    margin-bottom: 20px;
}




.cantidad-producto{
    visibility: visible;
    display: flex;
    position: relative;
    right: 209px;
    float: right;
    margin: 0;
    
}
.cantidad-producto input{
    width: 20px;
    margin: 3px;
    margin-top: -1px;
}
.cantidad-producto button{
    color: var(--fondo1VioletaO);
    border: 1px solid var(--fondo1VioletaO);
    height: 19px;
    width: -4px;
    background: none;
}
.card-btn{
    position: relative;
    top: 1px;
    left: 57px;
    
}
.description-22{
    position: relative;
    top: 48px;
}
.descripciones{
    position: relative;
    left: 44px;
    top: 54px;
    height: 50%;
    
}
.envios{
    position: relative;
    top: 56px;
}
.tarjetas-detalle{
    color: #fff;
    position: relative;
    top: 59px;
}
 }


@media (min-width: 1024px){
    
    .imagenes {
        background-color: var(--fondo1VioletaO);
        border-radius: 28px;
       
        width: 48%;
        height: 85%;
        padding: 4px;
        top: 19%;
        left: -3%;
    }
    .descripciones{
        position: relative;
        left: 179px;
        top: 56px;
        margin: -28px;
    }
    .descripcion-detalle {
        position: relative;
        right: 113px;
        top: 36px;
    }
    .sub-header {
        position: relative;
        top: -110px;
        border: 1px;
        left: 69px;
        height: 79px;
        width: 871px;
        border-radius: 14px;
        background: #1A027A;
    }
    .imagenes-detalle{
        position: relative;
    left: 110px;
    }
    .otros-colores{
        position: relative;
        float: left;
    
        /*
        top: 91px;
        */
        right:422px ;
        height: 483px;
        justify-content: space-between;
    }
    .color1{
        display: flex;
        background-color: var(--fondo1VioletaO);
        height: 139px;
        width: 136px;
        border-radius: 18px;

    }
    .color2{
        display: flex;
        background-color: var(--fondo1VioletaO);
        height: 139px;
        width: 136px;
        position: relative;
        right: -34px;
        border-radius: 18px;
        margin-left: -6px;
    }
    .colores {
        position: relative;
        top: 83px;
        /* left: -7px; */
        right: 600px;
    }
    .detalle-img--conteiner {
        background-color: var(--fondo1VioletaO);
        height: 60vh;
        border-radius: 28px;
        position: relative;
        top: 72px;
    
   
    
        
}











/*  background-color: var(--fondo1VioletaO);
        border-radius: 28px;
        position: relative;
        width: 136%;
        height: 108%;
        padding: 4px;
        top: -4%;
        left: -3%;*/









}