.main-detalledeproducto {
    background-color: var(--fondo2VioletaC);
    display: flex;
    flex-direction: column;
}

.main-detalledeproducto-boxOne {
    display: flex;
    flex-direction: column;
}

.detalle__boton--edit {
    text-align: center;
}

.detalle-img--conteiner {
    background-color: var(--fondo1VioletaO);
    border-radius: 20px;
}

.swiper-imagenes {
    width: 100%;
    height: 300px;
}

.detalle-imagenes {
    text-align: center;
    margin: 43px;
}

.img-detalle-carrusel{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.envios h4 {
    color: #fff;
    font-family: var(--FontSubtitulo);
    margin: 5px;
    font-size: 13px;
}

h3 {
    color: #fff;
    font-family: var(--FontSubtitulo);
}

.description-22,
.cantidad-producto,
.otros-colores,
.colores,
.color1,
.color2 {
    display: none;
}

.tarjetas-detalle img {
    width: 134px;
    margin-bottom: 35px;
    left: 12px;
}

#boton__prev{
    --swiper-navigation-size: 25px;
    background-color: var(--fondo2VioletaC);
    color: white;
    height: 70px;
    width: 50px;
    margin-top: -35px;
    border-radius: 0 65px 65px 0;
    left: -5px;
}

#boton__next{
    --swiper-navigation-size: 25px;
    background-color: var(--fondo2VioletaC);
    color: white;
    height: 70px;
    width: 50px;
    margin-top: -35px;
    border-radius: 65px 0 0 65px;
    right: -5px;
}

.titulo-1 {
    color: var(--letrasTitulos);
    font-family: var(--FontTitulo);
    font-size: 22px;

}

.stars i {
    color: yellow;
}

.rank {
    display: flex;

}

.rank p {
    font-size: 14px;
    margin: 2px;
    color: #fff;
}

.description h5 {
    color: #fff;
    ;
    font-family: var(--FontSubtitulo);

}

.read-btn {

    background: none;
    color: violet;
    border: none;
}

.detalle-carrito {
    margin: 30px 0;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background: #1A027A;
    border-radius: 50px;
}

.detalle__add-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sub-header {

    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background: #1A027A;
}

.sub-header h2 {
    font-family: var(--FontSubtitulo);
    color: var(--letrasTitulos);

}

.descripciones {

    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-btn {
    width: 101px;
    background-color: var(--fondo1VioletaO);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all 1s;
    height: 25px;
}

.card-btn1 {
    width: 101px;
    background-color: var(--fondo1VioletaO);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: all 1s;
    height: 25px;
}

.card-btn:hover,
.card-btn1:hover {
    background-color: #1A027A;
}

.detalle__cantidad{
    color: white;
}

.detalle__precio--box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.detalle__precio--original {
    color: white;
    text-decoration: line-through;
    text-decoration-color: red;
    font-size: 16px;
}

.detalle__precio--barra {
    color: white;
}

.detalle__precio--porcentaje {
    color: aqua;
}

.detalle__precio--descuento {
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.detalle__precio--sincambio {
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.metodos {
    margin-bottom: 10px;
}

.box-metodos {
    display: flex;
    flex-direction: column;
}

@media (min-width: 769px) {

    .box-metodos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .titulo-1 {

        bottom: -25px;
    }

    .rank {
        bottom: -33px;
    }

    .detalle-imagenes {
        width: 70%;
        margin: 40px auto;
    }

    .description {
        display: none;
    }

    .description-22,
    .otros-colores,
    .colores {
        display: flex;
    }

    .colores {
        top: 55px;
        right: 426px;
    }


    .descripcion-detalle {
        padding-right: 15px;
        margin-right: 120px;
    }

    .sub {
        color: var(--letrasTitulos);
        font-family: var(--FontSubtitulo);
        font-size: 14px;
        text-align: left;
    }

    .imagen-right img {
        width: 209px;
        height: 159px;
    }

    .imagen-left img {
        width: 122px;
        top: 16px;
        right: -8px;

    }

    .otros-colores {
        right: 388px;
        top: 75px;
        height: 463px;
        justify-content: space-between;
    }

    .color1 {
        display: flex;
        background-color: var(--fondo1VioletaO);
        height: 139px;
        width: 136px;
        border-radius: 18px;

    }

    .color2 {
        display: flex;
        background-color: var(--fondo1VioletaO);
        height: 139px;
        width: 136px;
        border-radius: 18px;
    }

    h3 {
        color: #fff;
        font-family: var(--FontSubtitulo);
    }


    .sub-header {
        border: 1px;
        height: 79px;
        border-radius: 14px;
    }

    .sub-header h2 {
        font-family: var(--FontSubtitulo);
        color: var(--letrasTitulos);
    }

    .sub h4 {
        font-size: 12px;
        margin-top: 11px;
        margin-bottom: 20px;
    }

    .cantidad-producto {
        display: flex;

    }

    .cantidad-producto button {
        color: var(--fondo1VioletaO);
        border: 1px solid var(--fondo1VioletaO);
        background: none;
    }

    .tarjetas-detalle {
        color: #fff;
        top: 59px;
    }

    .detalle__cantidad {
        color: white;
        font-size: 16px;
        margin-right: 10px;
    }
}


@media (min-width: 1024px) {
    .main-detalledeproducto {
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .main-detalledeproducto-boxOne {
        width: 40%;
        flex-wrap: wrap;
    }

    .detalle-carrito {
        width: 107%;
    }

    .descripcion-detalle {
        width: 40%;
    }

    .detalle-imagenes {
        width: 100%;
    }

    .imagenes {
        background-color: var(--fondo1VioletaO);
        border-radius: 28px;
        padding: 4px;

    }

    .sub-header {
        border-radius: 14px;
        background: #1A027A;
    }

    .otros-colores {
        height: 507px;
        justify-content: space-between;
    }

    .color1 {
        display: flex;
        background-color: var(--fondo1VioletaO);
        height: 139px;
        width: 136px;
        border-radius: 18px;
    }

    .color2 {
        display: flex;
        background-color: var(--fondo1VioletaO);
        border-radius: 18px;
    }

    .tarjetas-detalle {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}