@keyframes rotation {
   0% {
      transform: rotateY(-180deg);
   }

   100% {
      transform: rotateY(180deg);
   }
}

footer {
   background-image: url(/images/1600_Featured_Games.jpg);
   z-index: 10000;
   position: relative;
}

.footer__section {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__section--left {
   margin-left: -3px;
}

.footer__section--left img {
   width: 70%;
   animation: rotation 8s linear infinite normal;
}

.footer-right ul {
   display: flex;
}

.footer-right ul li {
   margin-right: 20px;
}

.footer-right {
   font-size: 18px;
}

.footer-right a {
   border: 1px solid var(--fondo2VioletaC);
   background-color: var(--fondo2VioletaC);
   border-radius: 30px;
   width: 35px;
   display: inline-block;
   height: 35px;
   text-align: center;
   padding-top: 6px;
}

.footer-right a:hover{
   transform: scale(1.5);
   color: var(--letrasSubtitulos2);
}

.footer__section2 {
   display: flex;
   margin-left: 25px;
   margin-top: 30px;
}

.footer__section__contacto--titulo {
   margin-bottom: 10px;
   font-size: 26px;
   font-weight: 600;
   color: var(--letrasSubtitulos2);
}

.footer__section__contacto--telefono {
   margin-bottom: 10px;
   font-size: 20px;
   margin-left: 20px;
}

.footer__section__contacto--horario {
   margin-bottom: 10px;
   font-size: 20px;
   margin-left: 20px;
}

.footer__section__contacto {
   margin-bottom: 10px;
}

.footer__section__contacto1 {
   margin-bottom: 10px;
}

.footer__section2--links {
   display: flex;
   flex-direction: column;
   font-size: 16px;
   color: white;
}

.footer__section2--links li {
   margin-bottom: 10px;
}

.footer__section2--links hr {
   margin-bottom: 20px;
}

.footer__section2--links li a {
   font-size: 12px;
}

.footer__section2 ul li a:hover {
   color: var(--letrasSubtitulos2);
}

.footer__section__categoria {
   text-align: center;
}

.footer__section__categoria li a {
   margin-bottom: 10px;
   font-size: 20px;
}

.footer__section2--links-li form {
   text-align: unset;
   display: inline-block;
}

.footer__section2--links-li input {
   padding-left: 10px;
   height: 27px;
   margin-top: 10px;
   margin-bottom: 20px;
   width: 100%;
   background-color: var(--fondo2VioletaC);
   color: white;
   border-radius: 9px;
   border: none;
   outline: none;
}

.footer__section2--links-li input:hover{
   background-color: white;
   color: black;
}

.footer__section2--links-li input::placeholder {
   color: white
}

.footer__section2--links-li input:hover::placeholder{
   color: black;
}

.footer__section2--links-li button {
   height: 25px;
   width: 40%;
   border: none;
   border-radius: 30px;
   background-color: var(--fondo2VioletaC);
   color: white;
}

.footer__section2--links-li button:hover {
   color: black;
   background-color: var(--swiper-theme-color);
}

.footer__section3 {
   padding-top: 20px;
   padding-bottom: 25px;
}

.footer-company-name {
   margin-left: 10px;
   margin-right: 10px;
   padding-bottom: 15px;
   font-size: 14px;
   color: grey;
}

.footer__payments {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
}

.tarjetas img {
   width: 125px;
   margin-right: 5px;
}

.mercado img {
   width: 67px;
   margin-right: 5px;
   height: 23px;
}

.ahora img {
   width: 67px;
   margin-right: 5px;
   height: 23px;
}

.footer__envio {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
}

.oca img {
   width: 67px;
   margin-right: 5px;
   height: 23px;
}

.andriani img {
   width: 67px;
   margin-right: 5px;
   height: 23px;
}


/*--------TABLET---------*/
@media(min-width:485px) {
   .footer__section2--links li a {
      font-size: 14px;
   }

   .footer-right {
      font-size: 20px;
   }

   .tarjetas img {
      width: 125px;
   }

   .mercado img {
      width: 67px;
   }

   .ahora img {
      width: 67px;
   }

   .oca img {
      width: 67px;
   }

   .andriani img {
      width: 67px;
   }
}

@media (min-width:769px) {
   .footer-right ul {
      font-size: 20px;
   }

   .footer-right ul li {
      margin-right: 30px;
   }

   .footer-right {
      font-size: 22px;
   }

   .footer__section2 {
      margin-left: 50px;
      justify-content: space-between;
   }

   .footer__section__contacto--titulo {
      font-size: 21px;
   }

   .footer__section__contacto--telefono {
      font-size: 16px;
      margin-left: 10px;
   }

   .footer__section__contacto--horario {
      font-size: 16px;
      margin-left: 10px;
   }

   .footer__section2--links {
      flex-direction: row;
   }

   .footer__section2--links hr {
      margin-right: 20px;
      margin-left: 20px;
   }

   .footer__section__categoria li a {
      font-size: 16px;
   }

   .footer__section2--links-li button {
      height: 25px;
      width: 40%;
      border: none;
      border-radius: 30px;
      background-color: var(--fondo2VioletaC);
      color: white;
   }

   .footer__section2--links-li button:hover {
      color: black;
      background-color: var(--swiper-theme-color);
   }

   .footer-company-name {
      font-size: 16px;
   }

   .tarjetas img {
      width: 170px;
   }
}

@media(min-width:1024px) {
   .footer__section--left img {
      width: 50%;
      margin-left: 15px;
   }

   .footer-right ul {
      font-size: 20px;
      margin-right: 15px;
   }

   .footer-right ul li {
      margin-right: 40px;
   }

   .footer__section__contacto--titulo {
      font-size: 24px;
   }

   .footer__section__contacto--telefono {
      font-size: 18px;
   }

   .footer__section__contacto--horario {
      font-size: 18px;
   }

   .footer__section__categoria li a {
      font-size: 18px;
   }

   .footer__section2--links hr {
      margin-right: 30px;
      margin-left: 30px;
   }

   .footer__section2--links-li input {
      width: 90%;
   }

   .footer__section2--links-li button {
      font-size: 14;
      width: 60%;
   }
}