.headeradmin_body{
    background-color: var(--fondo2VioletaC);
}

.headeradmin{
    background-image: url(/images/1600_Featured_Games.jpg);
}

#headeradmin__table{
    margin-bottom: 0;
}

.headeradmin__logo{
    width: 150px;
    display: block;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 25px;
    outline: none;
    animation: rotation 20s linear infinite normal;
}

#headeradmin__titulo{
    height: 75px;
    width: 50%;
}

.headeradmin__tituloletra{
    font-family: var(--FontTitulo);
    position: relative;
    top: 15px;
}

.headeradmin__section{
    display: flex;
    padding-bottom: 25px;
}

#headeradmin-hamburger{
    width: 45px;
    height: 45px;
    font-size: 6px;
    padding-bottom: 4px;
    border-radius: 14px;
}

#headeradmin-hamburger__position{
    top: 172px;
    width: 50%;
    left: 15px;
}

#headeradmin-color{
    color: white;
    text-decoration: none;
}

#headeradmin-color:hover{
    color: black;
}

.headeradmin__ul{
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-left: 0;
}

#headeradmin_subnav{
    left: 130px;
    width: 75%;
}

.headeradmin__section2{
    display: none;
}

@media (min-width: 800px){
    .headeradmin__section{
        display: none;
    }
    
    #headeradmin-color-home{
        height: 60px;
        transform: scale(1.5);
        background-color: #0074c7;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        color: white;
    }

    #headeradmin-color-home:hover{
        color: black;
    }

    .headeradmin__section2{
        display: flex;
    }

    .headeradmin__nav{
        background-color: #023877;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .headeradmin__nav ul{
        margin-bottom: 10px;
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }
    
    .headeradmin__nav ul li{
        background-color: var(--colorGris);
        text-transform: uppercase;
        margin-bottom: 1px;
        text-align: center;
        padding: 10px 0;
        transition: all .5s;
        height: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .headeradmin__nav ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        text-transform: uppercase;
        font-size: 16px;
        transition: all 300ms ease;
    }

    .headeradmin__nav ul li a:hover{
        height: 60px;
        transform: scale(1.5);
        background-color: #0074c7;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        font-weight: 600;
    }

    .headeradmin__avatar--image{
        display: none;
    }
}

@media (min-width: 1024px){
    .headeradmin__avatar--image{
        display: block;
        border: 1px solid black;
        border-radius: 55px;
        width: 60px;
        position: relative;
        right: 10px;
    }
}