body {
    background-color: var(--fondo1VioletaO);
}

a {
    color: white;
}

.header__box{
    position: relative;
    z-index: 100000;
    background-image: url(/images/1600_Featured_Games.jpg);
}

.header__inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 100%;
    height: 60px;
    padding-top: 13px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.right-nav-bar--busq {
    font: inherit;
}

.right-nav-bar {
    display: flex;
}

.right-nav-bar--form {
    margin: auto;
}

.right-nav-bar--form i {
    color: white;
    width: 0;
    position: relative;
    right: 8px;
    top: 5px;
}

.right-nav-bar--form>div {
    display: flex;
    background-color: var(--fondo2VioletaC);
    padding: 5px 20px 5px 14px;
    border-radius: 30px;
    margin-bottom: 2px;
    position: absolute;
    top: 17px;
    transition: all 0.8s ease;
    z-index: 10;
}

.right-nav-bar--form>div:hover {
    top: 70px;
    right: 75px;
    background-color: var(--fondo1VioletaO);
}

.right-nav-bar--form input {
    border: none;
    background: transparent;
    font-weight: bold;
    background-size: 16px;
    width: 0px;
    z-index: 10;
    transition: all 0.8s ease;
    position: relative;
}

.right-nav-bar--form input::placeholder {
    color: white;
    font-size: 15px;
}

.right-nav-bar--form input:hover {
    outline: none;
    width: 150px;
    color: white;

}

.right-nav-bar2 {
    display: none;
}

.menu-hamburguesa {
    width: 35px;
    height: 35px;
    color: white;
    border: 1px solid var(--fondo2VioletaC);
    border-radius: 50%;
    background-color: var(--fondo2VioletaC);
    text-align: center;
    font-size: 14px;
    padding-top: 9px;
    margin-left: 11px;
}

.menu-hamburguesa:hover {
    background-color: var(--letrasSubtitulos1);
    color: black;
}

.carro {
    margin-right: 11px;
    font-size: 14px;
    color: white;
    border-radius: 50%;
    background-color: var(--fondo2VioletaC);
    text-align: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--fondo2VioletaC);
}

.carro:hover  {
    background-color: var(--letrasSubtitulos1);
}

.carro:hover i {
    color: black
}

.header__container__menu {
    width: 100%;
    height: 70px;
    background-color: #023877;
    padding-left: 40px;
    display: none;
}

.header__menu {
    max-width: 1160px;
    margin: auto;
    height: 100%;
}

.header__nav {
    height: 100%;
}

.header__menu1 {
    max-width: 1160px;
    margin: auto;
    height: 100%;
    text-align: center;
}

.header__nav1 {
    display: inline-block;
    height: 100%;
}

.menu-hamburguesa>i {
    bottom: 11px;
    position: relative;
    left: 1px;
    font-size: 16px;
}

.menu-hamburguesa .header__nav1 .header__nav--navegacion {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #023877;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    position: absolute;
    top: 74px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

.menu-hamburguesa:hover .header__nav1 .header__nav--navegacion {
    visibility: visible;
    opacity: 1;
}

.header__nav--navegacion .header__nav--navegacion--primaria a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 300ms ease;
    justify-content: center;
}

.header__nav--navegacion .header__nav--navegacion--primaria a:hover {
    transform: scale(1.1);
    background-color: #0074c7;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    color: black;
}

.header__nav--navegacion ul .header__nav--navegacion--primaria ul .header__nav--navegacion--secundaria a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 300ms ease;
    justify-content: center;
}

.header__nav--navegacion ul .header__nav--navegacion--primaria ul .header__nav--navegacion--secundaria a:hover {
    transform: scale(1.1);
    background-color: #0074c7;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    color: black;
}

.header__nav1 .header__nav--navegacion ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #023877;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    position: absolute;
    left: 200px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

.header__nav1 .header__nav--navegacion ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

.header__nav1 .header__nav--navegacion ul li:hover ul::before {
    content: "";
    width: 0;
    height: 0;
    border-right: 12px solid #023877;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    position: absolute;
    top: 24px;
    left: -11px;
}

.header__nav ul li ul li a {
    display: block;
    color: white;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.header__nav ul li ul li a:hover {
    background-color: #0074c7;
    color: black;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.header__nav>ul {
    z-index: 10000;
    height: 100%;
    display: flex;
    position: relative;
}

.header__nav>ul>li {
    height: 100%;
    position: relative;
}

.header__nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 300ms ease;

}

.header__nav>ul>li>a:hover {
    transform: scale(1.1);
    background-color: #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    color: black;
    font-weight: 600;
}

#selected {
    transform: scale(1.1);
    background-color: #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px 25px;
}

.header__nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #023877;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 85px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

.header__nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.header__nav ul li ul::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #023877;
    position: absolute;
    top: -12px;
    left: 20px;
}

.header__nav ul li ul li a {
    display: block;
    color: white;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.header__nav ul li ul li a:hover {
    background-color: #0074c7;
    color: black;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#fixed{
    position: fixed;
    z-index: 100;
}


@media (min-width: 560px) {
    .header__hamburgersa__menu {
        display: none;
    }

    .header__logo {
        margin-left: 25px;
        margin-top: 6px;
    }


    .right-nav-bar {
        display: none;
    }

    .right-nav-bar2 {
        display: flex;
        align-items: center;
    }

    .right-nav-bar--busq2 {
        background-color: var(--fondo2VioletaC);
        border-radius: 30px;
        height: 40px;
        padding-left: 20px;
        border: none;
        width: 250px;
        margin-left: 5px;
        color: white;
        font-size: 14px;
    }

    .right-nav-bar--busq2::placeholder {
        color: white;
        font-size: 15px;
    }

    .right-nav-bar--busq2:hover::placeholder{
        color: black;
        font-weight: 600;
    }

    .right-nav-bar--busq2:hover {
        background-color: var(--letrasSubtitulos1);
        color: black;
    }

    .right-nav-bar--button:hover {
        background-color: var(--letrasSubtitulos1);
        color: black;
    }

    .right-nav-bar--button {
        background-color: var(--fondo2VioletaC);
        border: 1px solid var(--fondo2VioletaC);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 17px;
        color: white;
        position: relative;
        right: 40px;
    }

    .carro {
        width: 40px;
        height: 40px;
        font-size: 17px;
        margin-top: 3px;
        margin-right: 25px;
    }

    .header__container__menu {
        display: block;
    }

}

@media(min-width: 769px) {


    .header__logo {
        width: 100%;
        margin-left: 41px;
        height: 90px;
        margin-right: -7px;

    }

    .produ {
        font-family: var(--FontTitulo);
    }

    .right-nav-bar--busq2 {
        left: 36px;
        position: relative;
        height: 60px;
        width: 380px;
        font-size: 18px;
    }

    .right-nav-bar--button {
        right: 30px;
        height: 60px;
        width: 60px;
        font-size: 20px;
        top: 1px;
    }

    .right-nav-bar--busq2::placeholder {
        font-size: 17px;
    }

    .carro {
        width: 60px;
        height: 60px;
        font-size: 20px;
        margin-top: 8px;
    }
}

@media(min-width:1024px) {
    .right-nav-bar--busq2 {
        font-size: 20px;
        width: 600px;
        height: 63px;
        left: 34px;
        padding-left: 40px;
    }

    .right-nav-bar--button {
        font-size: 22px;
    }

    .right-nav-bar--busq2::placeholder {
        font-size: 19px;
    }

    .carro {
        font-size: 22px;
    }

}

