@keyframes rotation {
    0% {
        transform: rotateY(-180deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

@keyframes girar {
    0% {
        transform: scale(1);
        color: violet;
    }

    25% {
        color: yellow;
    }

    50% {
        transform: scale(1.1);
        color: orange;
    }

    75% {
        color: red;
    }

    100% {
        transform: scale(1);
        color: var(--fondo2VioletaC);
    }
}

.home__main__section--carrusel2 {
    display: none;
}

.home__main__section__article {
    margin: 2px;
    transition: all 1s;
}

.home__main__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#oferta {
    width: 40%;
}

.home__main--titulo {
    font-size: 22px;
    text-align: center;
    color: white;
    background-color: #1f1d51;
    width: 60%;
    margin: 50px auto;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-radius: 35px;
    transition: all 1s ease;
}

.home__main--titulo:hover {
    animation: girar 7s linear infinite normal
}

.home__main--titulo h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.home__main--titulo a {
    display: inline-block;
    margin-bottom: 15px;
}

.home__main--titulo a:hover{
    height: 30px;
    color: black;
    background-color: var(--fondo2VioletaC);
    border: 1px solid var(--fondo2VioletaC);
    border-radius: 15px;
    width: 90px;
}

.home__main--img {
    width: 100%;
    border: 3px solid black;
    border-radius: 8px;
    height: 270px;
}

.home__main--img:hover {
    box-shadow: 6px 0px 10px 1px rgb(0, 0, 0, 0.9);
}

.home__main--div {
    padding: 10px;
    background-color: var(--fondo1VioletaO);
    position: relative;
    color: white;
}

.home__main--div:hover {
    box-shadow: 6px 0px 10px 1px rgb(0, 0, 0, 0.9);
}

.home__main--div img {
    display: block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 13px;
    top: -29px;
    transition: all 1.5s;
}

.home__main__section__article:hover div img {
    animation: rotation 3s linear infinite normal;
}

.home__main__section__article .home__main--ocultar {
    height: 0px;
    transition: all 1s;
    overflow: hidden;
}


.home__main__section__article:hover .home__main--ocultar {
    height: 150px;
    font-size: 19px;
    padding-top: 15px;
    overflow: hidden;
}

.home__main--flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.home__main--descuento {
    font-size: 18px;

}

.card__precio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.card__descuento {
    margin-left: 15px;
    color: aqua;
    font-size: 16px;
}

.home__main--descripcion {
    margin-top: 12px;
}

.home__main--producto{
    text-align: center;
    margin-top: 15px;
}

.home__main__preciototal {
    font-size: 18px;
}

.home__secrion--banner2 {
    margin-top: 40px;
}

.home__main--div button {
    margin: 10px;
    background-color: var(--fondo2VioletaC);
    border: none;
    border-radius: 30px;
    height: 24px;
    width: 100px;
    color: white;
    text-align: center;
    transition: all 1s;
}

.home__main--div button:hover {
    background-color: var(--letrasSubtitulos2);
    transform: scale(1.2);
    color: black;
    font-weight: 600;
}

.home__main__carrusel__item {
    display: none;
}

#header__botonizq,
#header__botonderecha {
    opacity: 1;
    color: white;
}

.home__main__carrusel__item2 {
    margin-right: 43px;
    margin-left: 43px;
}

.home__main__bannermid {
    margin: 30px 0;
}

.home__main__bannermid--izq,
.home__main__bannermid--der {
    text-align: center;
}

.home__main__bannermid--izq img,
.home__main__bannermid--der img {
    width: 95%;
}

.swiper-notebook1 .swiper-button-prev,
.swiper-notebook1 .swiper-button-next {
    --swiper-navigation-size: 25px;
    background-color: var(--fondo1VioletaO);
    color: white;
    height: 70px;
    width: 50px;
    margin-top: -35px;
    opacity: 0;
    transition: all 1s;
}

.swiper-notebook1 .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -5px;
}

.swiper-notebook1 .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -5px;
}

.home__main__section__article .notebook {
    margin: 2px;
}

#oferta {
    margin: 10px;
}

#masbuscado {
    width: 90%;
}

.home__main__notebook, .home__main__juegos, .home__main__ingresos, .home__main__tarjetasd, .home__main__ps4{
    margin: 0px 43px;
}

.swiper-banner {
    width: 100%;
}

.swiper-banner img {
    width: 100%;
}

.swiper-banner .swiper-button-prev,
.swiper-banner .swiper-button-next {
    --swiper-navigation-size: 25px;
    background-color: var(--fondo1VioletaO);
    color: white;
    height: 70px;
    width: 50px;
    margin-top: -35px;
    opacity: 0;
}

.swiper-banner .swiper-button-prev {
    border-radius: 0 65px 65px 0;
    left: -5px;
}

.swiper-banner .swiper-button-next {
    border-radius: 65px 0 0 65px;
    right: -5px;
}

.home__main__ps4 {
    margin-bottom: 50px;
}

.swiper-banner2 img {
    width: 100%;
}

.home__main__ps4 {
    margin-bottom: 40px;
}

.swiper-banner .swiper-pagination,
.swiper-banner2 .swiper-pagination,
.swiper-notebook3 .swiper-pagination,
.swiper-notebook2 .swiper-pagination,
.swiper-notebook1 .swiper-pagination {
    --swiper-pagination-color: var(--letrasSubtitulos2);
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -4px;
    left: 0;
    width: 100%;
}

.home__main--whatsapp {
    position: fixed;
    z-index: 1000;
    right: 10px;
    bottom: -7px;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid;
    background-color: green;
    border-radius: 16px;
    transition: all 320ms ease;
}

.home__main--whatsapp :hover {
    transform: scale(1.3);
}

.home__main--whatsapp img {
    width: 50px;
}


@media(min-width:560px) {
    .card__descuento {
        font-size: 26px;
    }

    .home__main__preciototal {
        font-size: 26px;
    }
}

@media(min-width:769px) {
    .home__main__section--carrusel1 {
        display: none;
    }

    .home__main__section--carrusel2 {
        display: block;
        margin-top: 0;
    }

    .home__main__carrusel__item {
        display: block;
        margin-right: 43px;
        margin-left: 43px;
    }

    .home__main__carrusel__item2 {
        display: none;
        margin-right: 43px;
        margin-left: 43px;
    }

    #oferta {
        width: 20%;
    }

    .home__main__bannermid--izq img,
    .home__main__bannermid--der img {
        width: 90%;
    }

    .home__main__bannermid {
        display: flex;
    }

    .swiper-notebook1:hover .swiper-button-prev,
    .swiper-notebook1:hover .swiper-button-next,
    .swiper-banner:hover .swiper-button-prev,
    .swiper-banner:hover .swiper-button-next,
    .swiper-banner2:hover .swiper-button-prev,
    .swiper-banner2:hover .swiper-button-next,
    .swiper-notebook2:hover .swiper-button-prev,
    .swiper-notebook2:hover .swiper-button-next {
        opacity: 1;
    }

    .swiper-banner2 .swiper-button-prev,
    .swiper-banner2 .swiper-button-next,
    .swiper-notebook2 .swiper-button-prev,
    .swiper-notebook2 .swiper-button-next {
        --swiper-navigation-size: 25px;
        background-color: var(--fondo1VioletaO);
        color: white;
        height: 70px;
        width: 50px;
        margin-top: -35px;
        opacity: 0;
        transition: all 1s;
    }

    .swiper-banner2 .swiper-button-prev,
    .swiper-notebook2 .swiper-button-prev {
        border-radius: 0 65px 65px 0;
        left: -5px;
    }

    .swiper-banner2 .swiper-button-next,
    .swiper-notebook2 .swiper-button-next {
        border-radius: 65px 0 0 65px;
        right: -5px;
    }

    .card__descuento {
        font-size: 20px;
    }

    .home__main__preciototal {
        font-size: 20px;
    }

}

@media(min-width:1024px) {
    #oferta {
        width: 16%;
    }

    .swiper-notebook3 .swiper-button-prev,
    .swiper-notebook3 .swiper-button-next {
        --swiper-navigation-size: 25px;
        background-color: var(--fondo1VioletaO);
        color: white;
        height: 70px;
        width: 50px;
        margin-top: -35px;
        opacity: 0;
        transition: all 1s;
    }

    .swiper-notebook3 .swiper-button-prev {
        border-radius: 0 65px 65px 0;
        left: -5px;
    }

    .swiper-notebook3 .swiper-button-next {
        border-radius: 65px 0 0 65px;
        right: -5px;
    }

    .swiper-notebook3:hover .swiper-button-prev,
    .swiper-notebook3:hover .swiper-button-next {
        opacity: 1;
    }
}