
body{
    background-color: var(--fondo1VioletaO);
} 

h2, h3{
    color: #fff;
    font-family: sans-serif;
    position: relative;
    
    bottom: -7px;
    font-size: 24px;
    text-align: center;
}
h3{
    position: relative;
    bottom: 36px;
    
    font-size: 24px;
}

.left-register{
   visibility: hidden;
}
.login-register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.log{
    height: 20px;
    width: 20px;
    margin: 2px 15px 2px 3px ;
    justify-content: right;
}
.google{
    background-color: var(--fondo1VioletaO);
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 280px;
    border-radius: 7px;
    border: 2px solid var(--letrasSubtitulos1);
    cursor:  pointer ;
   
}
.guardar{
    width: 80px;
    border-radius: 15px;
    display: flex;
    position: relative;
    left: 85px;
    align-items: center;
    justify-content: center;
    background-color: var(--fondo2VioletaC);
    border: none;
} .hr-register{
    color: var(--letrasSubtitulos1);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 }
 .divider{
    margin-top: 35px;
}
.orSpan{
    color: var(--letrasSubtitulos1);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: -7px;
    margin-left: -1%;
    padding: 0 5px;
    background-color: var(--fondo1VioletaO);
}
.card{
    align-items: center;
    justify-content: center;
    display: flex;
}
form{
    
    text-align: center;
    display: block;
}


.forms{
    width: 265px;
    position: relative;
}

input{
    padding: 12px 15px;
    margin: 8px 0;
    height: 43px;
}

.forms input{
    text-align: center;
    width: 100%;
    
    background: transparent;
    border: 2px solid var(--letrasSubtitulos1);
    border-radius: 6px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}
.forms  label{
position: relative;
top: -40px;
left: -51px;
text-transform: capitalize;
font-size: 16px;
transition: top .2s;
padding: 0 5px;
pointer-events: none;
color: rgba(255, 255, 255, 1);
font-family: 'Inter', sans-serif;
font-weight: 400;
font-style: normal;
}
.e-mail {
    margin-right: 80px;
}

.forms input:focus ~ label{
    top: -60px;
    background-color: var(--fondo1VioletaO);
}


 .name{
    margin-top: 43px;
    margin-right: 25px;
 }
 

 @media(min-width :769px){
    .right-register{
        display: flex;
        align-items: right;
        justify-content: right;
        position: relative;
        
    }
    .card {
        align-items: center;
        
        display: flex;
    }
        
    .titles-left{
        height: 168px;
    }
    .titles-left h2, h3{
        position: relative;
        width: 80%;
        height: 35%;
        top: 20%;
        left: -23%;

    }
    .titles{
        background-color: var(--fondo2VioletaC);
        visibility: visible;
        position: absolute;
        width: 40%;
			height: 50%;
			top:  18%;
			left: 5%;
			background: var(--fondo2VioletaC);
            border-radius: 37px;
       
    }

        
        }
     

      
        
        
      
      
   
 