.text {
    font-family: 'Inter', sans-serif;
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: -20px;
    background-color: snow;
    font-size: 13px;
}

#boder-color{
    border: 4px solid red;
}

body {
    background-color: var(--fondo1VioletaO);
}

.titulo-register1 {
    bottom: 55px;
}

.titulo-register1,
.titulo-register2 {
    color: #fff;
    font-family: sans-serif;
    position: relative;
    font-size: 24px;
    text-align: center;
    height: 80px;
}

.titulo-register2 {
    position: relative;
    bottom: 92px;
    font-size: 24px;
}

.left-register {
    visibility: hidden;
}

.login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    position: relative;
    bottom: 118px;
}

.aca {
    color: var(--letrasSubtitulos2);
    transition: all 1s;
}

.aca:hover {
    color: white;
}

.log {
    height: 20px;
    width: 20px;
    margin: 2px 15px 2px 3px;
    justify-content: right;
}

.google {
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 280px;
    border-radius: 7px;
    border: 2px solid var(--letrasSubtitulos1);
    cursor: pointer;

}

.guardar {
    width: 152px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-family: var(--FontTitulo);
    display: flex;
    position: relative;
    left: 39px;
    align-items: center;
    justify-content: center;
    background-color: var(--fondo1VioletaO);
    border: none;
    transition: all 1s;
    margin-top: 5px;
}

.guardar:hover {
    background-color: var(--letrasSubtitulos2);
}

.hr-register {
    color: var(--letrasSubtitulos1);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    margin-top: 35px;
    position: relative;
    bottom: 130px;
}

.orSpan {
    color: var(--letrasSubtitulos1);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: -7px;
    margin-left: -1%;
    padding: 0 5px;
    background-color: var(--fondo2VioletaC);
}

.card {
    position: relative;
    bottom: 144px;
    align-items: center;
    justify-content: center;
    display: flex;
}

form {
    text-align: center;
    display: block;
}


.forms {
    width: 265px;
    position: relative;
}

.forms input  {
    width: 100%;
    background: transparent;
    border: 2px solid var(--letrasSubtitulos1);
    border-radius: 6px;
    outline: none;
    padding: 15px 15px;
    height: 43px;
    margin: 8px 0;
    font-size: 16px;
}

#register-image{
    color: white;
    font-size: 10px;
    padding-top: 12px;
}

#boder-color2{
    border: 4px solid red;
    color: white;
    font-size: 10px;
    padding-top: 12px;
}

.forms label {
    position: relative;
    top: -65px;
    left: -51px;
    text-transform: capitalize;
    font-size: 16px;
    transition: top .2s;
    background-color: var(--fondo2VioletaC);
    pointer-events: none;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.us-name {
    margin-right: 24px;
    padding-right: 9px;
}

.direccion {
    margin-right: 12px;
    padding-right: 8px;
}

.e-mail {
    margin-right: 36px;
}

.f-name {
    margin-right: -46px;
}

.name {
    margin-top: 43px;
    margin-right: 25px;
}

.register__avataradv{
    color: white;
}

.right-register{
    margin-top: -140px;
    margin-bottom: -50px;
}

@media(min-width :769px) {
    .login-register {
        top: 1px;
        right: 11px;
    }

    .right-register {
        display: flex;
        align-items: right;
        justify-content: right;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
    }

    .card {
        align-items: center;
        position: relative;
        bottom: 85px;
        right: -0.65%;
        display: flex;
    }

    .titles-left {
        right: 7px;
        height: 205px;
        margin-left: 40px;
        position: relative;
    }

    .titles-left h3 {
        width: 80%;
        top: 16%;
        left: 10px;
        font-size: 22px;
}

    .titles-left h2 {
        height: 50%;
        top: 41%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        right: 26px;
    }
    
    .left-register {
        position: relative;
    }

    .titles {
        visibility: visible;
        position: absolute;
        width: 45%;
        left: 1%;
        background: var(--fondo1VioletaO);
        border-radius: 37px;
        height: 55pc;
        z-index: -1;
    }

    .titles h1 {
        position: relative;
        top: 42px;
        font-size: 50px;
        color: var(--letrasSubtitulos2);
        font-family: var(--FontTitulo);
        margin: 0px 50px;
        text-align: center;
    }
    .register__titulo--import1 {
        position: relative;
        font-size: 27px;
        color: #fff;
        font-family: var(--FontSubtitulo);
        text-align: center;
        margin: 0px 50px 15px;
        height: 80px;
        top: 80px;
    }
    
    .register__titulo--import2 {
        position: relative;
        top: 220px;
        font-size: 20px;
        color: mediumpurple;
        font-family: var(--FontSubtitulo);
        text-align: center;
        height: 80px;
    }

    .register__img--import{
        top: 220px;
        text-align: center;
        position: relative;
    }
    .register__img--img{
        width: 55%;
    }

    .divider {
        bottom: 67px;
        right: 12px;
        position: relative;
    }

    .titles-register {
        bottom: 53px;
        position: relative;
    }

    .google {
        height: 42px;
        width: 262px;
    }


}

@media(min-width : 1024px) {
    .titles-register {
        bottom: 53px;
        position: relative;
        right: 82px;
    }

    .divider {
        bottom: 67px;
        right: 75px;
        position: relative;


    }

    .titles {
        height: 55pc;
    }

    .titles h1 {
        margin-left: 21px;
    }

    .right-register {
        width: 91%;
        position: relative;
        left: 46px;
    }

    .hr-register {
        color: var(--letrasSubtitulos1);
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }


    .card {
        align-items: center;
        position: relative;
        bottom: 85px;
        right: 16.35%;
        display: flex;
    }
}