<!-- Banner mobile-->
<section class="home__main__section--carrusel1">

    <!-- Slider main container -->
    <div class="swiper swiper-banner">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><a href="/products?searchallprodu=FIFA+23"><img src="/images/bannermob1.jpg" alt="banner 6"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=GOD+OF+WAR"><img src="/images/bannermob2.jpg" alt="banner 7"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=CONSOLAS"><img src="/images/bannermob3.jpg" alt="banner 8"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=DEAD+SPACE"><img src="/images/bannermob4.jpg" alt="banner 9"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=GIFTS+CARDS"><img src="/images/bannermob5.jpg" alt="banner 10"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=RESIDENT+EVIL"><img src="/images/bannermob6.jpg" alt="banner 10"></a></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>


<!-- Banner desktop-->

<section class="home__main__section--carrusel2">

    <!-- Slider main container -->
    <div class="swiper swiper-banner2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><a href="/products?searchallprodu=FIFA+23"><img src="/images/banner1.jpg" alt="banner 1"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=GOD+OF+WAR"><img src="/images/banner2.jpg" alt="banner 2"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=CONSOLAS"><img src="/images/banner3.jpg" alt="banner 3"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=DEAD+SPACE"><img src="/images/banner4.jpg" alt="banner 4"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=GIFTS+CARDS"><img src="/images/banner5.jpg" alt="banner 5"></a></div>
            <div class="swiper-slide"><a href="/products?searchallprodu=RESIDENT+EVIL"><img src="/images/banner12.jpg" alt="banner 5"></a></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

</section>