<section class="home__secrion--banner2">

    <!-- Slider main container -->
    <div class="swiper swiper-banner">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><a href=""><img src="/images/banner6.jpg" alt="banner 6"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/banner7.jpg" alt="banner 7"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/banner8.jpg" alt="banner 8"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/banner9.jpg" alt="banner 9"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/banner10.jpg" alt="banner 10"></a></div>
            <div class="swiper-slide"><a href=""><img src="/images/banner11.jpg" alt="banner 11"></a></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>


</section>