<section class="carritofixed" id="carritof">
    <a href="/products/carrito"></script>
        <lottie-player class="carrito--animated" src="https://assets3.lottiefiles.com/packages/lf20_tlcdtp7x.json"  background="transparent"  speed="0.35" loop  autoplay></lottie-player></a>
</section>