<footer class="footer-d">
    <section class="footer__section">
        <div class="footer__section--left">
            <img src="/images/Level__2_-removebg-preview.png" alt="" />
        </div>

        <div class="footer-right">
            <ul>
                <li>
                    <a href="#"><lottie-player class="logo--social__face" src="https://assets2.lottiefiles.com/private_files/lf30_pb3we3yk.json"  background="transparent"  speed="0.93" loop  autoplay></lottie-player></a>
                </li>
                <li>
                    <a href="#"><lottie-player class="logo--social__tw" src="https://assets2.lottiefiles.com/private_files/lf30_up3nxxtl.json"  background="transparent"  speed="1" loop autoplay></lottie-player></a>
                </li>
                <li>
                    <a href="#"><lottie-player class="logo--social__ins" src="https://assets7.lottiefiles.com/private_files/lf30_f5ytlpiy.json"  background="transparent"  speed="1" loop  autoplay></lottie-player></i></a>
                </li>
            </ul>
        </div>
    </section>

    <section class="footer__section2">
        <article class="footer__section2--links">
            <div class="footer__section2--links-li">
                <div class="footer__section__contacto">
                    <p class="footer__section__contacto--titulo">Atención al cliente</p>
                    <p class="footer__section__contacto--telefono">0800 420 0809</p>
                    <p class="footer__section__contacto--telefono">0810 590 2059</p>
                    <p class="footer__section__contacto--horario">
                        LU-VI de 09:00 a 18:00
                    </p>
                    <p class="footer__section__contacto--horario">SA de 9:00 a 13:00</p>
                </div>
            </div>
            <hr>
            <div class="footer__section2--links-li">
                <a href="#">
                    <div class="footer__section__contacto1">
                        <p class="footer__section__contacto--titulo">
                            Contactanos por Email
                        </p>
                        <a href="mailto:nextgamesventas@gmail.com?Subject=Consulta%20de%20venta&body=Necesito%20informacion%20de%20un%20producto">nextgamesventas@google.com</a>
                    </div>
                </a>
            </div>
            <hr>
            <div class="footer__section2--links-li">
                <p class="footer__section__contacto--titulo">Categorias</p>
                <ul class="footer__section__categoria">
                    <li><a href="/products/accesorios">Accesorios</a></li>
                    <li><a href="/products/consolas">Consolas</a></li>
                    <li><a href="/products/tarjetas">Gifts cards</a></li>
                    <li><a href="/products/juegos">Juegos</a></li>
                    <li><a href="/products/notebook">Notebooks</a></li>
                    <li><a href="/products/perifericos">Perifericos</a></li>
                    <li><a href="/products/ingresos">Nuevos ingresos</a></li>
                    <li><a href="/products">Todos los productos</a></li>
                </ul>
            </div>
            <hr>
            <div class="footer__section2--links-li">
                <p class="footer__section__contacto--titulo">Newsletter</p>
                <form method="POST" action="/#email">
                    <small class="text"> <%= (locals.errors && errors.email) && errors.email.msg %></small>
                    <input type="email" name="email" id="email" placeholder="Ingrese su email" required>
                    <button type="submit">Suscribite</button>
                </form>
            </div>
        </article>
    </section>

    <section class="footer__section3">
        <div class="footer__section3--separacion">
            <hr class="footer__section3--linea" />
        </div>
    </section>
    <div class="footer__payments">
        <div class="tarjetas"><img src="/images/tarjetas.png" alt="" /></div>
        <div class="mercado"><img src="/images/mercadopago.png" alt="" /></div>
        <div class="ahora"><img src="/images/ahora12.png" alt="" /></div>
    </div>

    <div class="footer__envio">
        <div class="oca"><img src="/images/oca.png" alt="" /></div>
        <div class="andriani"><img src="/images/andreani.png" alt="" /></div>
    </div>
    <p class="footer-company-name">
        Copyright © 2023 Next Games S.A <br><br>
El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Next Games S.A. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en www.nextgames.net son válidos exclusivamente para la compra vía internet en las página antes mencionada.
    </p>
</footer>