<section class="home__main__meddepago">

    <div class="home__main__meddepago--banner">
        <img src="/images/mediodepago1.jpg" alt="medios de pago">
    </div>

    <div class="home__main__meddepago--banner">
        <img src="/images/mediodepago2.jpg" alt="medios de pago">
    </div>

</section>