<section class="home__main--whatsapp">
    <a href="https://api.whatsapp.com/send?phone=5491169430476&text=Hola,%20Necesito%20ayuda%20con%20una%20compra!">
        <img src="/images/whatsapp.png" alt="">
    </a>
</section>
