<section class="home__main--whatsapp">
    <a href="https://bit.ly/next-games">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_X1nV7vPXhB.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
    </a>
</section>
