<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs')  %>

    <div class="home__main--titulo">
    <h2>Perfil de Usuario</h2>
    </div>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>